/*PAGINA SHOWS*/


.showsgeneral {  
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    grid-template-rows: 80px 100px 100px 100px 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "fila1-fecha fila1-ciudad fila1-sede ."
    "fila2-fecha fila2-ciudad fila2-sede fila2-compra"
    "fila3-fecha fila3-ciudad fila3-sede fila3-compra"
    "fila4-fecha fila4-ciudad fila4-sede fila4-compra"
    "fila5-fecha fila5-ciudad fila5-sede fila5-compra";
    align-items: center;
    text-align: center;
    background: linear-gradient(
        50deg,
        rgba(255, 255, 255, 0.4) 12%,
        rgba(255, 255, 255, 0.1) 77%
    );
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;
    width: 1600px;
    margin: 0 auto;
    margin-top: 200px;
}
.fila1-fecha { grid-area: fila1-fecha; 
    border-bottom: 1px solid black;
}
.fila1-ciudad { grid-area: fila1-ciudad; 
    border-bottom: 1px solid black;
}
.fila1-sede { grid-area: fila1-sede; 
    border-bottom: 1px solid black;
}
.fila2-fecha { grid-area: fila2-fecha; }
.fila3-fecha { grid-area: fila3-fecha; }
.fila4-fecha { grid-area: fila4-fecha; }
.fila5-fecha { grid-area: fila5-fecha; }
.fila2-ciudad { grid-area: fila2-ciudad; }
.fila3-ciudad { grid-area: fila3-ciudad; }
.fila4-ciudad { grid-area: fila4-ciudad; }
.fila5-ciudad { grid-area: fila5-ciudad; }
.fila2-sede { grid-area: fila2-sede; }
.fila3-sede { grid-area: fila3-sede; }
.fila4-sede { grid-area: fila4-sede; }
.fila5-sede { grid-area: fila5-sede; }
.fila2-compra { grid-area: fila2-compra; 
    font-size: 38px;
}
.fila2-compra .boton-personalizado1{
    color: white;
    background: linear-gradient(
        50deg,
        rgba(202, 191, 34, 0.521) 12%,
        rgba(158, 94, 21, 0.726) 77%
    );
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
}
.fila3-compra { grid-area: fila3-compra; 
    color: white;
    background: linear-gradient(
        50deg,
        rgba(202, 191, 34, 0.521) 12%,
        rgba(158, 94, 21, 0.726) 77%
    );
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
}
.fila4-compra { grid-area: fila4-compra; 
    color: white;
    background: linear-gradient(
        50deg,
        rgba(202, 191, 34, 0.521) 12%,
        rgba(158, 94, 21, 0.726) 77%
    );
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px; 
    margin-left: 20px;
    margin-right: 20px;
}
.fila5-compra { grid-area: fila5-compra; 
    font-size: 38px;
}
.fila5-compra .boton-personalizado2{
    color: white;
    background: linear-gradient(
        50deg,
        rgba(202, 191, 34, 0.521) 12%,
        rgba(158, 94, 21, 0.726) 77%
    );
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
}

