/*Pagina inICIO*/
/*EDICION DE PORTADA*/

.portada{
    width: 100%;
    height: 100vh;
}

/*PARRAFO DESCRIPTIVO*/

.info-portada{
    font-size: 24px;
    text-align: justify;
}

/*SECCION ALBUM*/

.info-musical {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 320px;
    align-items: center;
}

.video-duki-cancion{
    height: 300px;
    width: 500px;
}

.Info-musical-h{
    font-size: 45px;
}

.Info-musical-p{
    font-size: 23px;
    margin-top: 50px;
}

.info-musical-img{
    width: 400px;
    height: 200px;
    margin-top: 30px;
    border-radius: 10px;
    
}

.Video-musical {
    margin-right: 100px;
    margin-top: 100px;
}
