@media screen and (max-width: 720px){
    .biografia-duki {
        grid-template-columns: 390px;
        grid-template-rows:500px 800px 800px;
        grid-template-areas: 
        ".imagen-duki-concierto2"
        "titulo-biografia"
        "texto-biografia"
        ;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 0%;
    }
    .imagen-duki-concierto2{
        max-width: 576px;
        margin: 0 auto;
    }
.PORTADA1 .portada{
    min-width: 100vh;
}
}